/*清除默认样式*/
html,body{height: 100%;overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}
/*清除浮动*/
  .clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}


#wrap{
  height: 100%;
  /*background: pink;*/
}
/*头部*/
#header{
  position: relative;
}
.header-main{
  height:80px;
  width: 1100px;
  margin: 0 auto;
  /*background:palevioletred;*/
}
.log {
  float: left;
margin-top: 15px;
}
.icon{
  float: left;
  margin-top: 50px;
}
.list{
  float: right;
  margin-top: 50px;

}
.list li{
  float: left;
  position: relative;
  margin-left: 40px;
  cursor: pointer;
}
.list li:hover .down{
  width: 100%;
}
/*导航上*/
.list li .up{
    color: #009EE0;
}
/*导航下*/
.list li .down{
  position: absolute;
  left: 0;
  top:0;
  width: 0;
  transition: width 1s;
  overflow: hidden;
}
/*小箭头*/
.arrow{
  position:absolute ;
  left:50%;
  z-index: 100;
  bottom: -11px;
  width: 21px;
  height: 11px;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  transition:left 1s;

}
/*内容区*/
#content{
  position: absolute;
  top: 80px;
  left:0;
  right:0;
  bottom:0;
  background: yellow;
  overflow: hidden;
}
#content-main{
  height:500%;
  width:100%;


  transition: top 1s;
  position: absolute;
  left:0;
  top:0;/*为了第一次有过渡*/
}
#content-main>li{
  height: 20%;
  position: relative;

}
/*内容区的主体内容*/
#content-main li section{
  width: 1100px;
  height: 520px;
  /*background:gold;*/
  position: absolute;
  top: 50%;
  left:50%;
  margin-top:-260px ;
  margin-left: -550px;
}
#content-main>li:nth-child(1){
  background-image:url("../img/bg1.jpg");
}
#content-main>li:nth-child(2){
  background-image:url("../img/bg2.jpg");
}
#content-main>li:nth-child(3){
  background-image:url("../img/bg3.jpg");
}
#content-main>li:nth-child(4){
  background-image:url("../img/bg4.jpg");
}
#content-main>li:nth-child(5){
  background-image:url("../img/bg5.jpg");
}

/*第一屏*/
/*轮播图*/
.home-carousel{
  height: 100%;
  position: relative;
  transform-style:preserve-3D;
  perspective:1000px;
}
.home-carousel .active{
  visibility: visible;
}
.home-carousel>li{
  height:520px;
  width: 1100px;
  color: white;
  font-size: 80px;
  position: absolute;
  left:0;
  top:0;
  text-align: center;
  line-height: 520px;
  visibility: hidden;
  font-weight: bold;
  letter-spacing:-5px;
}

.home-carousel>li:nth-child(1){
  background:#dc6c5f;
  /*visibility:visible;*/
}
.home-carousel>li:nth-child(2){
  background:#95dc84;
}
.home-carousel>li:nth-child(3){
  background:#64b9d2;
}
.home-carousel>li:nth-child(4){
  background:#000000;
}
/*小圆点*/
.home-point{
position: absolute;
  left:50%;
  bottom:0;
  transform: translateX(-50%);
}
.home-point>li{
  float: left;
  height: 20px;
  width: 20px;
  background:rgba(255,255,255,0.5);
  margin: 2px;
  box-shadow:0 0 4px rgba(25,25,25,0.8) ;
  border-radius: 50%;
}
.home-point .active{
  background: white;
}
/*轮播*/
.home-carousel .left-hide{
  visibility: hidden;
  animation: leftHide 2s linear;
}
.home-carousel .left-show{
  visibility: visible;
  animation: leftShow 2s linear;
}
.home-carousel .right-show{
  visibility: visible;
  animation: rightShow 2s linear;
}
.home-carousel .right-hide{
  visibility: hidden;
  animation: rightHide 2s linear;
}

@keyframes leftHide {
  0%{visibility: visible}
  50%{transform: translateY(-40%) rotateX(45deg) scale(.6)}
  100%{transform: translateZ(-200px); visibility: hidden}
}

@keyframes rightShow {
  0%{visibility: hidden; transform: translateZ(-200px);}
  50%{transform: translateY(40%) rotateX(-45deg) scale(.6)}
  100%{visibility: visible}
}

@keyframes leftShow {
  0%{visibility: hidden; transform: translateZ(-200px);}
  50%{transform: translateY(-40%) rotateX(45deg) scale(.6)}
  100%{visibility: visible}
}

@keyframes rightHide {
  0%{visibility: visible}
  50%{transform: translateY(40%) rotateX(-45deg) scale(.6)}
  100%{transform: translateZ(-200px); visibility: hidden}
}
/*第二屏*/
.commonText{
  color:white;
  line-height:1.5;
  font-size:15px;
}
.course-title{
  color:#009ee0;
  line-height:0.8;
  font-size:80px;
  font-weight: bold;
  margin:50px !important;
  letter-spacing: -5px;
}
.course-txt{
  width: 400px;
  margin-left: 50px;
}
.course-content{
  position: absolute;
  right: 50px;
  top: 70px;
  width: 480px;

}
.course-content>li{
 float: left;
  width: 120px;
  height: 132px;
  position: relative;

  }
.course-content .front{
  background-position: center;
  height: 100%;
  background-image:url("../img/pcwelt.png");
  background-repeat: no-repeat;
  transition: transform 1s;
}
.course-content .back{
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  background: #009ee0;
  color:white;
  padding: 15px;
  box-sizing: border-box;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 1s;
  /*display: none;*/
}
.course-content>li:hover .back{
  transform: rotateY(360deg);
}
.course-content>li:hover .front{
  transform: rotateY(180deg);
}
/*!*第三屏*!*/
.course-title{
  margin: 50px 50px 100px 0;

}
.works-lists{

  height: 133px;
  /*overflow: hidden;*/
}
.works-lists>li{
  float: left;
  width: 220px;
  height: 133px;
  margin: 0 1px;
  position: relative;
  bottom: -50px;
  left: 50px;
  overflow: hidden;
}
.works-lists>li:last-child{
  width: 332px;
  height: 133px;
}
.works-lists>li .mask{
  position: absolute;
  top: 0;
  left:0;
  background:rgba(25,25,25,0.8);
  color: white;
  padding: 10px;
  opacity: 0;
  width:100% ;
  height: 100%;
  box-sizing: border-box;
  transition: opacity 1s;

}
.works-lists>li .mask .icon{
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom:0;
  margin: auto;
  width: 32px;
  height: 34px;
  background-image: url("../img/zoomico.png");
  background-repeat:no-repeat;
  transition: background 1s;
}
.works-lists>li:hover .mask {
  opacity: 1;
  }

.works-lists>li:hover .icon{
  background-position: 0 -35px;
}
.works-lists>li:hover img{
  transform:rotate(30deg) scale(1.2) ;
  transition: transform 1s;
}
.works .works-robot{
  position: absolute;
  left: 900px;
  top:170px;
  height: 191px ;
  width: 167px;
  background-image: url("../img/robot.png");
  background-repeat:no-repeat;
  animation: robotM 5s infinite linear;
}
@keyframes robotM{
  0%{}
  49%{transform: translateX(-400px) }
  50%{transform: translateX(-400px) rotateY(180deg)}
  100%{transform: rotateY(180deg)}
}
/*第四屏*/
 .about-txt{
   margin-left: 50px;
   margin-top:100px;
 }
.abour-firstPhoto{
  position:absolute;
  left: 750px;
  top: 50px;
  width: 260px ;
  height: 200px;
  border: 5px solid rgba(255,255,255,0.5);
  border-radius: 8px;
  z-index: 1;
}
.about .abour-firstPhoto:nth-child(4){
  left: 600px;
  top: 290px;
}
.abour-firstPhoto .about-one{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}
.abour-firstPhoto .about-one li {
  width:50% ;
  height:50%;
  float: left;
  overflow: hidden;
}
.abour-firstPhoto .about-one li div{
  width:100%;
  height: 100%;
  background-repeat:no-repeat;
}
.abour-firstPhoto .about-one li div{
  background-image: url("../img/about1.jpg");
  transition: transform 1s;
}
.about .abour-firstPhoto:nth-child(4) .about-one li div{
  background-image: url("../img/about3.jpg");
  transition: transform 1s;
}
.abour-firstPhoto .about-one li:nth-child(1) div{
  background-position: 0 0;
}
.abour-firstPhoto .about-one li:nth-child(2) div{
  background-position: 100% 0;
}
.abour-firstPhoto .about-one li:nth-child(3) div{
  background-position: 0 100%;
}
.abour-firstPhoto .about-one li:nth-child(4) div{
  background-position: 100% 100%;
}
.abour-firstPhoto .about-one:hover li:nth-child(1) div{
  transform: translateY(100%);
}
.abour-firstPhoto .about-one:hover li:nth-child(2) div{
  transform: translateX(-100%);
}
.abour-firstPhoto .about-one:hover li:nth-child(3) div{
  transform: translateX(100%);
}
.abour-firstPhoto .about-one:hover li:nth-child(4) div{
  transform: translateY(-100%);
}
/*线条*/
.line{
  position:absolute;
  top: -12px;
  left: 555px;
  width: 357px;
  height: 998px;
  background: url("../img/greenLine.png");
  background-repeat: no-repeat;

}
/*第五屏*/
.team{
  position: relative;
}
.team-txt{
  position: absolute;
  right: 0;
  top:0;
  width: 400px;
  margin: 50px;

}